@{
    //ViewData["Title"] = "Home Page";
}
@model Employees.ViewModels.IndexViewModel

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a> @Model.People </p>

        <form action="@Url.Action("Index","Home")">
            <div class="form-group">
                <label for="Input1">Employee Name</label>
                <input type="text" class="form-control" name="employeeName" id="Input1" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="Input1">Employee Age</label>
                <input type="text" class="form-control" name="employeeAge" id="Input1" placeholder="Age">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            @*<input id="employee" type="text" name="employee">
            <input type="submit" value="Search">*@

        </form>
        <form action="@Url.Action("Index","Home")">
            <button type="submit" class="btn btn-primary">EmployeesOrderedbyDess</button>
            <input type="hidden" name="EmployeesOrderedbyDess" value="true">
        </form>

        <p>

            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3">Employees</th>
                    </tr>
                    <tr>
                        <th> Name </th>
                        <th> Age </th>
                        <th> Rank </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.People)
                    {
                        <tr>
                            <td>@employee.Name</td>
                            <td>@employee.Age</td>
                            <td>@employee.Rank</td>
                        </tr>
                    }
                </tbody>
            </table>
        </p>
        <form action="@Url.Action("Index","Home")">
            <div class="form-group">
                <label for="Input1">New Employee</label>
                <input type="text" class="form-control" name="newName" id="Input1" placeholder="Name" value="">
                <input type="text" class="form-control" id="Input2" placeholder="newAge" value="">
                <input type="text" class="form-control" id="Input3" placeholder="newRank" value="">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            @*<input type="submit" name="newEmployee" >*@
        </form>

       
    </div>
